<div class="admin-users">
    <div class="all-user" all="{{count}}">总文章数：{{count}}</div>
    <div class="layui-table-header">
        <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
            <tr>
                <th width="15%">文章ID</th>
                <th width="20%">标题</th>
                <th width="15%">作者</th>
                <th width="15%">时间</th>
                <th width="15%">分类</th>
                <th width="*">操作</th>
            </tr>
            {{#each skills}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.user}}</td>
                <td>{{this.time}}</td>
                <td>{{this.type}}</td>
                <td>
                    <i title="编辑" onclick="home.edit_skills(this);" class="admin-edit admin-icon layui-icon">&#xe642;</i>
                    <i title="删除" onclick="home.del_skills(this);" class="admin-del admin-icon layui-icon">&#xe640;</i>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="page" id="page"></div>
</div>
<script>
    $(function(){
        var ajax = home.ajax;
        var layer = layui.layer;
        home.page('page',{{count}},function(data,first){
            if(first)
                return;
            ajax.skill_page(data.curr,function(data){
                var table = $('.layui-table');
                if(data==null||data.length==0){
                    var html = home.no_data();
                    $(html).appendTo($('.layui-table-header'));
                    $(table).hide();
                    return false;
                }
                var _html = home._skill_page(data);
                $(table).html($(_html));
            },function(errorMsg){
                layer.msg(errorMsg||'获取数据失败，请重试');
            });
        });
    });
</script>