<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/vv/vv.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/vv/vv.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin admin-layout">
    <div class="layui-header">
        <div class="layui-logo">后台管理</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item"><a class="{{u}}" href="/admin-users">用户列表</a></li>
                <li class="layui-nav-item"><a class="{{l}}" href="/admin-skills">文章列表</a></li>
                <li class="layui-nav-item"><a class="{{comm}}" href="/admin-comments">评论列表</a></li>
                <li class="layui-nav-item"><a class="{{e}}" href="/admin-edit">编辑&发布</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 15px;">{{{body}}}</div>
    </div>
    <div class="layui-footer">
        by 烟花易冷
    </div>
</div>
<script>
    var init_no_data = function(){
        if($('.layui-table').find('tr').length==1){
            var html = '<div class="layout_no_data">';
            html += '<i class="layui-icon">&#xe628;</i>';
            html += '<span>没有数据</span>';
            html += '</div>';
            $(html).appendTo($('.layui-body'));
            $('.layui-table-header').hide();
            $('.page').hide();
        }
    };
    $(function(){
        init_no_data();
    })
</script>
</body>
</html>
