<script>
    var type = '{{type}}';
</script>
<div class="skill-content">
    {{#each skill}}
        <div class="one-content">
            <div class="one-title ellipsis">{{this.title}}</div>
            <div class="one-time">
                <span class="user">{{this.user}}</span>
                <span class="time">{{this.time}}</span>
            </div>
            <a href="/?u_id={{this._id}}" target="_blank" title="{{this.title}}"></a>
        </div>
    {{/each}}
</div>
<div class="page" id="page"></div>
<script>
    $(function(){
        var ajax = home.ajax;
        home.page('page',{{count}},function(data,first){
            if(first)
                return;
            ajax.home_skill_heart(data.curr,function(data){
                var html = home.home_skill_page(data);
                $('.skill-content').html($(html));
            },function(errorMsg){
                layer.msg(errorMsg||'查询失败，请重试');
            });
        });
    });
</script>